.article-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.article-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 10%;
    padding-right: 10%;
}

.post-body {
    
}

.comments-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    background-color: rgb(199, 198, 198);
    border-radius: 5px;
    padding: 10px;
    
}

.comments-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.commentCard {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    width: 100%;
    
    
}