.create-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.blog-title {
    width: 400px;
}

.blog-content {
    display: flex;
    flex-direction: column;
}

.content-section {
    height: 500px;
    width: 700px;
}